<!--The content below is only a placeholder and can be replaced.-->
<div id="content" class="col-lg-10 offset-lg-1">
  <header id="header" class="col-lg-12">
    <h1>
      Welcome to {{ title }}! ssss
    </h1>
  </header>

  <nav id="nav" class="col-lg-12">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Productos</a></li>
      <li><a href="#">Crear producto</a></li>
    </ul>
  </nav>

  <section id="main" class="col-lg-12">
    <!-- <h3>Texto principal</h3> -->
    <app-home></app-home>
  </section>

  <footer id="footer" class="col-lg-12">
    <p>Curso de Angular 4 - victprroblesweb.es</p>
  </footer>

</div>

<router-outlet></router-outlet>
